.archive-section {
    .header-bar {
        margin-bottom:10px;
    }
    
    .see-all-bar {
        background-color:transparent;
        padding: 35px 10px;
    }
}

.archive.header-bar {
    padding-left:10px;
    padding-bottom:0;
}

.archive-roll-container {
    margin:10px 10px;
}

.archive-roll {
    margin:-25px -10px;
}

.archive-item {
    padding:25px 10px;
    position:relative;

    border-bottom:1px solid #cacaca;

    h3 {
        margin-bottom:5px;
    }
}


.item-thumbnail {
    margin-right:20px;
}

.item-content {
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:start;
    flex:1;
}

.item-byline {
    font-size:13px;
    margin-bottom:10px;

    span {
        display:inline-block;
        margin-right:25px;
    }
}

.item-excerpt {
    font-size:14px;
    line-height:1.3;
    color: $grey;

    flex:1;
}

.item-readmore {
    justify-self:end;
    align-self:end;
    margin-left:auto;

    a {
        font-size:14px;
    }
}

.pagination {
    display:flex;
    justify-content:flex-end;

    padding-bottom:40px;

    .page-numbers {
        color: $black;
        padding:10px 3px;
    }

    .current {
        color: $yellow;
    }

    .next, .prev {
        color: $yellow;
    }
}