* {
    box-sizing:border-box;
    position:relative;
    line-height:100%;
}

body {
    font-family: 'Lato';
    color: $black;

    overflow-x:hidden;

    &.default-bg {
        background-image:url('../images/arrowpattern.png');
        background-size:150px 150px;
    }

    &.featured-bg {
        background-size:cover;
        background-repeat:no-repeat;

        .main > .container {
            box-shadow: 0 0 10px rgba(0,0,0,.4);
            background-color: rgba(255, 255, 255, 0.1);
            color:#fff;
        }
    }

    &.single-bg {
        .main > .container {
            box-shadow:none;
        }
    }

    .main > .container {
        box-shadow: 0 0 10px rgba(0,0,0,.4);
        background-color:#fff;
    }

    .main {
        margin-top:65px;
    }
    
    &.logged-in {
        main {
            margin-top:40px;
        }

        nav {
            @include screen(md) {
                margin-top:32px;
            }
        }
    }
}

// Resets
html, body, div, span, strong, b, i, u,
h1, h2, h3, h4, h5, h6, p, blockquote,
caption {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    line-height:inherit;
}

// Content Alert
.content-alert {
    display:none;
    position:absolute;
    width:100%;
    height:100vh;
    z-index:0;

    .alert-close {
        color:$grey;
        cursor:pointer;
        font-size:30px;
        position:absolute;
        top:10px;
        right:21px;
    }

    .dark-bg {
        position:absolute;
        right:0;
        left:0;
        bottom:0;
        top:0;

        background-color:rgba(0,0,0,0.8);
        z-index:21;

    }

    .alert {
        background-color:#fff;
        max-width:50%;
        padding:60px;
        z-index:22;
    }

    &.alerted {
        display:flex;
        justify-content:center;
        align-items:center;
        z-index:21;
    }
}


p {
    color: $grey;
    font-weight:400;
}

h2 {
    font-size: 32px;
    text-transform: lowercase;
    color:$black;
}

h3 {
    font-size:22px;
    color: $black;
    line-height:1.2;
}

ul,ol,li {
    line-height:inherit;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.container {
    width:100%;
    @include screen(xl) {
        width:90%;
        max-width:1200px;
        margin:auto;
    }
}

a {
    text-decoration:none;
    color:$yellow;
    &:hover {
        text-decoration:underline;
    }
}

.text-link {
    color:$black;
    cursor:pointer;
    transition: color .25s;
    &::after {
        display:inline-block;
        content:'';
        margin-left:7px;
        background-image:url(../images/arrow.svg);
        background-size:10px 11px;
        background-repeat:no-repeat;
        height:10px;
        width:11px;
    }

    &:hover {
        color:$yellow;
    }
}

.sidebar .see-all-bar a.text-link {
    color:#fff;
    &:hover {
        color:$black;
    }
}