.featured-vignette {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0) 100%
  );
  @include screen(lg) {
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;

  pointer-events: none;
}

body.featured-bg {
  background-attachment: fixed;
  background-size: cover;

  .author-blurb {
    background:transparent;
    color:#fff;
    padding:0;

    .author-bio {
      color:#c1c1c1;
    }

    .container {
      width:100%;
    }
  }

  .single-emphasis {
    color:#fff;
  }
  .main > .featured-container {
    padding: 100px 5%;
    position: relative;

    box-shadow: none;
    background-color: transparent;

    @include screen(lg) {
      width: 45%;
      margin-left: 40%;
      padding: 100px 0 0;
    }

    img {
      max-width: 100%;
      height: auto;
      margin:auto;
    }

    .wp-caption {
      max-width:100%;

      display:flex;
      margin:auto;
      flex-direction:column;
      justify-content:center;
      align-items:center;

      p {
        padding: 20px 0 20px 0;
        font-style:italic;
      }
    }

    h1,h2,h3,h4,h5,h6 {
      color: #fff;
      text-transform:none;
      margin: 30px 0 10px 0;
    }

    h1 {
      font-weight: bold;
      font-size: 42px;
      text-transform: uppercase;
      letter-spacing: 1px;

      line-height: 1.2;

      span {
        color: $yellow;
      }
    }

    .item-byline {
      color: #dedede;
      margin-top: 10px;
    }

    .content {
      p {
        color: #dedede;
      }
    }
  }
}

.container .content blockquote p {
  padding: 30px 0;
  text-align: right;
  font-weight:bold;
  font-size:35px;
  line-height:1.2;

}
