footer {
    background-color:$black;
    padding:20px 0;

    .footer-info {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center; 
        text-align:center;

        color:#fff;
        font-size:10px;

        p {
            margin-bottom:5px;
        }

        .logo {
            margin-bottom:20px;

            a {
                display:block;
            }

            img {
                height:90px;
            }
        }
    }

    a.text-link {
        color:#fff;
        font-size:25px;
        display:block;
        width:auto;
        margin:10px 0;
        text-align:left;
        &:hover {
            color:$yellow;
        }
        &::after {
            height:18px;
            width:20px;
            background-size:18px 20px;
            margin-bottom:-2px;
        }
    }
    
    ul, ol {
        list-style: none;
        padding:0;
        margin:0;
    }

    .footer-con {
        display:flex;
        flex-wrap:wrap;
        justify-content:center;

        @include screen(lg) {
            display:flex;
        }
    }

    .footer-col-3 {
        width:50%;
        min-width:300px;
        flex:1;
        margin: 20px; 
        @include screen(lg) {
            width:33.33%;
            margin:0;
        }
    }

    .social-media {
        h4 {
            color:#fff;
            font-size:25px;
            text-transform:lowercase;
            font-weight:normal;
            margin-top:5px;

            margin-bottom:10px;
        }
        img {
            height:40px;
            width:auto;
            margin-right:5px;
        }
    }
}