.feature-banner {
    width:100%;
    height:350px;

    .post-tile {
        width:100%;
        height:100%;
    }

    a h3 {
        font-size:22px;
    }

    .post-tile-container {
        padding:0;
    }
}

.front-main {
    width:100%;
    flex:flex-wrap;

    @include screen(lg) {
        display:flex;
    }

    .left-content {
        flex-basis:75%;
        flex:1;
    }

    .sidebar {
        flex-basis:25%;
        background-color:#6C6C6C;

        .header-bar {
            background-color:$black;
            h2 {
                color:#fff;
            }
        }

    }
}

.secondary-content {
    margin:auto;
    width:100%;
    padding:0 20px;
    @include screen(lg) {
        width:80%;
        padding:0;
    }
}

.sidebar-article {
    padding:18px 18px 0 18px;

    &::after {
        padding:10px;
        margin:auto;
        border-bottom:1px solid #A0A0A0;
        content:'';
        display:block;
    }

    &:last-child {
        padding-bottom:0px;

        &::after {
            border:none;
        }
    }
    
    h3 {
        margin-bottom:10px;
        color:#fff;
        font-weight:400;
        font-size:18px;

        @include screen(lg) {
            font-size:14px;
        }
    }

    a {
        color:#fff;
    }

    .text-link {
        color:#ffdc84;
        display:block;
        text-align:right;
        font-size:13px;
    }
}

.header-bar {
    padding:35px 20px 10px 20px;
    background-color:#fff;
    overflow:hidden;

    h1, h2 {
        font-size:32px;
        text-transform:lowercase;
    }
}

.sidebar {
    .see-all-bar {
        background-color:#A0A0A0;
        padding: 15px 20px;
        text-align:right;
        font-size:16px;

        background-image: linear-gradient(to top, #F4F4F4 50%, #A0A0A0 50%);

        &:hover {
            color: $black;
        }
    }
}

.cta {
    background-color:#fff;
    flex-basis:100%;
    position:relative;
    overflow:hidden;

    background-image:url('../images/arrow-15.svg');
    background-repeat:no-repeat;
    background-position:90% center;
    background-size:60%;

    padding:80px 60px 40px 60px;

    @include screen(lg) {
        display:flex;
        align-items:center;
        background-position:90% center;
        background-size:40%;
        padding:5%;
    }


    .cta-callout {
        font-size:28px;
        z-index:1;

        flex-basis:50%;

    }
    
    .cta-form {
        z-index:1;
        flex-basis:50%;
        
        margin-top:25px;

        position:relative;

        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;

        @include screen(lg) {
            padding:0 5%;
        }

        .ajax-loader {
            background-repeat:no-repeat;
            margin-left:auto;
        }


        form {
            margin-bottom:0;
        }


        p {
            display:flex;
            align-items:flex-end;
            flex-direction:column;
            flex-grow:none;
            line-height:1;

            margin-bottom:0;

            span {
                width:100%;
            }

        }

        div[role=form] {
            width:100%;
            @include screen(lg) {
                width:90%;
            }
        }

        input[type=email] {
            border:0;
            border-bottom:2px solid #A0A0A0;
            width:100%;
            display:block;
            background-color:transparent;
            padding-bottom:5px;

            font-size:14px;
            font-family:'Lato';
            transition:border .2s;

            &:focus {
                outline:none;
                border-bottom:2px solid $yellow;
            }

        }

        input[type=submit] {
            border:1px solid $yellow;
            border-radius:100px;
            padding:7px 20px;
            cursor:pointer;

            align-self:end;
            margin-left:auto;

            transition: background-color .3s, color .2s;
            &:hover {
                color:#fff;
                background-color:$yellow;
            }
        }
    }

    .wpcf7-response-output {
        color:$black;
        border:0;
        text-align:right;
        font-size:14px;
        line-height:1.3;

        padding:0;
        margin:0;
    }

}