nav {
    padding:10px 10px;
    background-color: #fff;

    box-shadow: 0 2px 10px rgba(0,0,0,.1);

    z-index:20;
    position:fixed;
    top:0;
    left:0;
    right:0;

    @include screen(xl) {
        padding:10px 0;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding:14px 20px;

        @include screen(md){
            padding:0;
            flex-direction:row;
            align-items:center;
            justify-content:flex-start;
        }

    }

    .main-nav {
        display:flex;
        justify-content:center;
        flex-direction:column;

        @include screen(md) {
            flex-direction:row;
            align-items:center;
            justify-self:flex-end;
            margin-left:auto;
        }
    }

    ul, ol {
        list-style: none;
        padding:40px 0 15px 0;
        margin:0;

        display:none;
        

        &.is-active {
            display:block;
            text-align:center;
            height:100vh;
            transition: all .3s;
            padding:0;
        }

        @include screen(md) {
            display:flex;
            padding:0;
        }
        
    }

    li {
        padding-top:30px;;
        font-size:35px;
        @include screen(md) {
            padding:15px;
            font-size:16px;
        }
    }

    .current-menu-item {
        color:$yellow;
    }

    .logo {
        img {
            height:24px;

            @include screen(md) {
                height:23px;
            }
        }
    }

    a {
        text-decoration:none;
        color:inherit;
        &:hover {
            color: $yellow;
            transition:.2s color;
        }
    }
}

.nav-expand.hamburger {
    color:$black;
    position:absolute;
    top:0;
    right:0;

    @include screen(md) {
        display:none;
    }
}
