.tile-roll {
    display:flex;
    flex-wrap:wrap;
    margin:-4px;
}

.post-tile-container {
    flex:1;
    padding:4px;
    flex-basis:100%;

    @include screen(md) {
        &.large-tile {
            flex-basis:58%;
        }
    
        &.small-tile {
            flex-basis:42%;
        }
    }

    .tile-title {
        font-size:16px;
    }
    
}

.post-tile {
    background-color:#000;
    height:300px;
    flex:1;

    @include screen(md) {
        height:230px;
    }

    &:hover {
        img {
            opacity:.5;
            transition: opacity .2s ease-in-out;
        }

        .tile-title a h3 {
            color: $yellow;
            transition:color .2s ease-in-out;
        }

        .tile-read-more img {
            opacity:1;
            transition:color .2s ease-in-out;
        }
    }

    & > img {
        position:absolute;
        max-height:100%;
        max-width:100%;
        object-fit:cover;
        object-position:center center;
        z-index:0; 
    }

    a {
        text-decoration:none;
        color:#fff;
    }
    
}

.vignette {
    background:radial-gradient(transparent, rgba(0,0,0,.5));
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index:1;

    pointer-events:none;

}

.tile-title {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:20px 0 20px 20px;
    z-index:1;

    display:flex;
    flex-direction:row;
    align-items:center;

    height:auto;

    background-color:rgba(0,0,0,.85);
    
    a h3 {
        font-size:22px;
        color:#fff;
        font-weight:bold;
        transition:color .2s ease-in-out;

        @include screen(md) {
            font-size:17px;
        }
    }

}

ul.post-categories {
        padding:0;
        display:flex;
        flex-wrap:wrap;
        z-index:1;
        margin:0;


    li {
        list-style-type:none;
        transition: background-color .2s, color .2s ease-in-out;

        font-weight:normal;
        font-size:16px;
        padding:5px 8px 0 0;

        @include screen(md){
            font-size:12px;
        }

        &:last-child {
            margin-right:0;
        }

        &:hover a {
            color:#fff;
        }

        a {
            color:#fff;
            text-decoration:none;
            display:inline-block;

        }
    }

    .text-blue a {
        color:rgb(51, 155, 214);
    }
    .text-yellow a {
        color:rgb(255, 198, 55);
    }
    .text-green a {
        color:rgb(88, 197, 45);
    }
    .text-teal a {
        color:rgb(43, 226, 202);
    }
}

.tile-read-more {
    margin-left:auto;
    img {
        height:25px;
        padding:0 20px 0 10px;
        opacity:1;

        transition: opacity .2s ease-in;

        @include screen(md) {
            padding: 0 18px;
            opacity:.25;
        }
    }
}

a.post-link {
    position:absolute;
    width:100%;
    height:100%;

    z-index:1;
    transition: all .2s ease-in;
    display:block;

}

.see-all-bar {
    background-color:#F4F4F4;
    padding: 15px 20px;
    text-align:right;

    background-image: linear-gradient(to top, $black 50%, #F4F4F4 50%);
    background-size: 100% 200%;
    background-position:right top;
    transition: all 0.125s ease-in;

    &:hover {
        transition: all 0.125s ease-in;
        background-position: left bottom;
        color: #fff;

        a {
            color:#fff;
            transition: all 0.125s ease-in;
        }
    }
}