// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

// Variables
$yellow: #FFB600;
$black: #3D3D3D;
$green: #88CE2E;
$blue: #41B9FF;
$grey: #767676;

// Mixins
@import 'mixins';

@import 'base';
@import 'tiles';
@import 'navigation';
@import 'header';
@import 'page';
@import 'post';
@import 'footer';
@import 'front-page';
@import 'review-swiper';
@import 'archive-roll';
@import 'quiz';
@import 'single';
@import 'searchform';