@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
.flex {
  display: flex; }

.items-center {
  align-items: center; }

.justify-center {
  justify-content: center; }

.flex-col {
  flex-direction: column; }

.flex-row {
  flex-direction: row; }

.fit-img {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0; }
  .fit-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%; }
  .fit-img.bg-img {
    position: absolute;
    top: 0;
    left: 0; }
    .fit-img.bg-img img {
      height: 100%; }

.relative {
  position: relative; }

* {
  box-sizing: border-box;
  position: relative;
  line-height: 100%; }

body {
  font-family: 'Lato';
  color: #3D3D3D;
  overflow-x: hidden; }
  body.default-bg {
    background-image: url("../images/arrowpattern.png");
    background-size: 150px 150px; }
  body.featured-bg {
    background-size: cover;
    background-repeat: no-repeat; }
    body.featured-bg .main > .container {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      background-color: rgba(255, 255, 255, 0.1);
      color: #fff; }
  body.single-bg .main > .container {
    box-shadow: none; }
  body .main > .container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: #fff; }

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

p {
  color: #767676;
  font-weight: 400; }

h2 {
  font-size: 32px;
  text-transform: lowercase;
  color: #3D3D3D; }

h3 {
  font-size: 22px;
  color: #3D3D3D;
  line-height: 1.2; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

.main {
  margin-top: 67px; }

.container {
  width: 100%; }
  @media (min-width: 1366px) {
    .container {
      width: 90%;
      max-width: 1200px;
      margin: auto; } }

a {
  text-decoration: none;
  color: #FFB600; }

.text-link {
  color: #3D3D3D;
  cursor: pointer;
  transition: color .25s; }
  .text-link::after {
    display: inline-block;
    content: '';
    margin-left: 7px;
    background-image: url(../images/arrow.svg);
    background-size: 10px 11px;
    background-repeat: no-repeat;
    height: 10px;
    width: 11px; }
  .text-link:hover {
    color: #FFB600; }

.sidebar .see-all-bar a.text-link {
  color: #fff; }
  .sidebar .see-all-bar a.text-link:hover {
    color: #3D3D3D; }

.tile-roll {
  display: flex;
  flex-wrap: wrap;
  margin: -4px; }

.post-tile-container {
  flex: 1;
  padding: 4px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .post-tile-container.large-tile {
      flex-basis: 58%; }
    .post-tile-container.small-tile {
      flex-basis: 42%; } }
  .post-tile-container .tile-title {
    font-size: 16px; }

.post-tile {
  background-color: #000;
  height: 300px;
  flex: 1; }
  @media (min-width: 768px) {
    .post-tile {
      height: 230px; } }
  .post-tile:hover img {
    opacity: .5;
    transition: opacity .2s ease-in-out; }
  .post-tile:hover .tile-title a h3 {
    color: #FFB600;
    transition: color .2s ease-in-out; }
  .post-tile:hover .tile-read-more img {
    opacity: 1;
    transition: color .2s ease-in-out; }
  .post-tile > img {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: 0; }
  .post-tile a {
    text-decoration: none;
    color: #fff; }

.vignette {
  background: radial-gradient(transparent, rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  pointer-events: none; }

.tile-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0 20px 20px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  background-color: rgba(0, 0, 0, 0.85); }
  .tile-title a h3, .tile-title h3, .tile-title h1 {
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    transition: color .2s ease-in-out; }
    @media (min-width: 768px) {
      .tile-title a h3, .tile-title h3, .tile-title h1 {
        font-size: 17px; } }

ul.post-categories {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  margin: 0; }
  ul.post-categories li {
    list-style-type: none;
    transition: background-color .2s, color .2s ease-in-out;
    font-weight: normal;
    font-size: 16px;
    padding: 5px 8px 0 0; }
    @media (min-width: 768px) {
      ul.post-categories li {
        font-size: 12px; } }
    ul.post-categories li:last-child {
      margin-right: 0; }
    ul.post-categories li:hover a {
      color: #fff; }
    ul.post-categories li a {
      color: #fff;
      text-decoration: none;
      display: inline-block; }
  ul.post-categories .text-blue a {
    color: #339bd6; }
  ul.post-categories .text-yellow a {
    color: #ffc637; }
  ul.post-categories .text-green a {
    color: #58c52d; }
  ul.post-categories .text-teal a {
    color: #2be2ca; }

.tile-read-more {
  margin-left: auto; }
  .tile-read-more img {
    height: 25px;
    padding: 0 20px 0 10px;
    opacity: 1;
    transition: opacity .2s ease-in; }
    @media (min-width: 768px) {
      .tile-read-more img {
        padding: 0 18px;
        opacity: .25; } }

a.post-link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all .2s ease-in;
  display: block; }

.see-all-bar {
  background-color: #F4F4F4;
  padding: 15px 20px;
  text-align: right;
  background-image: linear-gradient(to top, #3D3D3D 50%, #F4F4F4 50%);
  background-size: 100% 200%;
  background-position: right top;
  transition: all 0.125s ease-in; }
  .see-all-bar:hover {
    transition: all 0.125s ease-in;
    background-position: left bottom;
    color: #fff; }
    .see-all-bar:hover a {
      color: #fff;
      transition: all 0.125s ease-in; }

nav {
  padding: 10px 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  @media (min-width: 1366px) {
    nav {
      padding: 10px 0; } }
  nav .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px 20px; }
    @media (min-width: 768px) {
      nav .container {
        padding: 0;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start; } }
  nav .main-nav {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    @media (min-width: 768px) {
      nav .main-nav {
        flex-direction: row;
        align-items: center;
        justify-self: flex-end;
        margin-left: auto; } }
  nav ul, nav ol {
    list-style: none;
    padding: 40px 0 15px 0;
    margin: 0;
    display: none; }
    nav ul.is-active, nav ol.is-active {
      display: block;
      text-align: center;
      height: 100vh;
      transition: all .3s;
      padding: 0; }
    @media (min-width: 768px) {
      nav ul, nav ol {
        display: flex;
        padding: 0; } }
  nav li {
    padding-top: 30px;
    font-size: 35px; }
    @media (min-width: 768px) {
      nav li {
        padding: 15px;
        font-size: 16px; } }
  nav .current-menu-item {
    color: #FFB600; }
  nav .logo img {
    height: 24px; }
    @media (min-width: 768px) {
      nav .logo img {
        height: 23px; } }
  nav a {
    text-decoration: none;
    color: inherit; }
    nav a:hover {
      color: #FFB600;
      transition: .2s color; }

.nav-expand.hamburger {
  color: #3D3D3D;
  position: absolute;
  top: 0;
  right: 0; }
  @media (min-width: 768px) {
    .nav-expand.hamburger {
      display: none; } }

footer {
  background-color: #3D3D3D;
  padding: 50px 0; }
  footer .footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 10px; }
    footer .footer-info p {
      margin-bottom: 5px; }
    footer .footer-info .logo {
      margin-bottom: 20px; }
      footer .footer-info .logo a {
        display: block; }
      footer .footer-info .logo img {
        height: 90px; }
  footer a.text-link {
    color: #fff;
    font-size: 25px;
    display: block;
    width: auto;
    margin: 10px 0;
    text-align: left; }
    footer a.text-link:hover {
      color: #FFB600; }
    footer a.text-link::after {
      height: 18px;
      width: 20px;
      background-size: 18px 20px;
      margin-bottom: -2px; }
  footer ul, footer ol {
    list-style: none;
    padding: 0;
    margin: 0; }
  footer .footer-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media (min-width: 1024px) {
      footer .footer-con {
        display: flex; } }
  footer .footer-col-3 {
    width: 50%;
    min-width: 300px;
    flex: 1;
    margin: 20px; }
    @media (min-width: 1024px) {
      footer .footer-col-3 {
        width: 33.33%;
        margin: 0; } }
  footer .social-media h4 {
    color: #fff;
    font-size: 25px;
    text-transform: lowercase;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 10px; }
  footer .social-media img {
    height: 40px;
    width: auto;
    margin-right: 5px; }

.feature-banners {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .feature-banners a h3 {
    font-size: 22px; }
  .feature-banners .post-tile {
    height: 400px; }
  .feature-banners .post-tile-container {
    padding: 0; }

.front-main {
  width: 100%;
  flex: flex-wrap; }
  @media (min-width: 1024px) {
    .front-main {
      display: flex; } }
  .front-main .left-content {
    flex-basis: 75%;
    flex: 1; }
  .front-main .sidebar {
    flex-basis: 25%;
    background-color: #6C6C6C; }
    .front-main .sidebar .header-bar {
      background-color: #3D3D3D; }
      .front-main .sidebar .header-bar h2 {
        color: #fff; }

.secondary-content {
  margin: auto;
  width: 100%;
  padding: 0 20px; }
  @media (min-width: 1024px) {
    .secondary-content {
      width: 80%;
      padding: 0; } }

.sidebar-article {
  padding: 18px 18px 0 18px; }
  .sidebar-article::after {
    padding: 10px;
    margin: auto;
    border-bottom: 1px solid #A0A0A0;
    content: '';
    display: block; }
  .sidebar-article:last-child {
    padding-bottom: 0px; }
    .sidebar-article:last-child::after {
      border: none; }
  .sidebar-article h3 {
    margin-bottom: 10px;
    color: #fff;
    font-weight: 400;
    font-size: 18px; }
    @media (min-width: 1024px) {
      .sidebar-article h3 {
        font-size: 14px; } }
  .sidebar-article a {
    color: #fff; }
  .sidebar-article .text-link {
    color: #ffdc84;
    display: block;
    text-align: right;
    font-size: 13px; }

.header-bar {
  padding: 35px 20px 10px 20px;
  background-color: #fff;
  overflow: hidden; }
  .header-bar h1, .header-bar h2 {
    font-size: 32px;
    text-transform: lowercase; }

.sidebar .see-all-bar {
  background-color: #A0A0A0;
  padding: 15px 20px;
  text-align: right;
  font-size: 16px;
  background-image: linear-gradient(to top, #F4F4F4 50%, #A0A0A0 50%); }
  .sidebar .see-all-bar:hover {
    color: #3D3D3D; }

.cta {
  background-color: #fff;
  flex-basis: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("../images/arrow-15.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 60%;
  padding: 80px 60px 40px 60px; }
  @media (min-width: 1024px) {
    .cta {
      display: flex;
      align-items: center;
      background-position: 90% center;
      background-size: 40%;
      padding: 5%; } }
  .cta .cta-callout {
    font-size: 28px;
    z-index: 1;
    flex-basis: 50%; }
  .cta .cta-form {
    z-index: 1;
    flex-basis: 50%;
    margin-top: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media (min-width: 1024px) {
      .cta .cta-form {
        padding: 0 5%; } }
    .cta .cta-form .ajax-loader {
      background-repeat: no-repeat;
      margin-left: auto; }
    .cta .cta-form form {
      margin-bottom: 0; }
    .cta .cta-form p {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      flex-grow: none;
      line-height: 1;
      margin-bottom: 0; }
      .cta .cta-form p span {
        width: 100%; }
    .cta .cta-form div[role=form] {
      width: 100%; }
      @media (min-width: 1024px) {
        .cta .cta-form div[role=form] {
          width: 90%; } }
    .cta .cta-form input[type=email] {
      border: 0;
      border-bottom: 2px solid #A0A0A0;
      width: 100%;
      display: block;
      background-color: transparent;
      padding-bottom: 5px;
      font-size: 14px;
      font-family: 'Lato';
      transition: border .2s; }
      .cta .cta-form input[type=email]:focus {
        outline: none;
        border-bottom: 2px solid #FFB600; }
    .cta .cta-form input[type=submit] {
      border: 1px solid #FFB600;
      border-radius: 100px;
      padding: 7px 20px;
      cursor: pointer;
      align-self: end;
      margin-left: auto;
      transition: background-color .3s, color .2s; }
      .cta .cta-form input[type=submit]:hover {
        color: #fff;
        background-color: #FFB600; }
  .cta .wpcf7-response-output {
    color: #3D3D3D;
    border: 0;
    text-align: right;
    font-size: 14px;
    line-height: 1.3;
    padding: 0;
    margin: 0; }

.review-swiper {
  background-color: #3D3D3D;
  color: #fff;
  margin-bottom: 50px; }
  .review-swiper h2 {
    margin: auto;
    text-align: center;
    font-size: 32px;
    text-transform: lowercase;
    color: #88CE2E;
    padding-top: 60px; }
    @media (min-width: 768px) {
      .review-swiper h2 {
        padding-top: 30px; } }

.swiper-container {
  width: 100%; }
  .swiper-container .swiper-wrapper {
    height: auto;
    align-items: stretch;
    padding: 30px 0 110px 0; }
    @media (min-width: 768px) {
      .swiper-container .swiper-wrapper {
        padding: 30px 0 65px 0; } }
  .swiper-container .swiper-slide {
    width: 250px;
    height: auto;
    position: relative;
    text-align: center;
    transition: all .25s ease-in-out; }
    .swiper-container .swiper-slide:hover a.tile-title {
      color: #FFB600;
      transition: all .25s ease-in-out; }
    .swiper-container .swiper-slide .tile-title {
      color: #fff;
      font-size: 18px;
      line-height: 1.2;
      font-weight: normal;
      padding: 15px;
      width: 100%;
      text-align: left; }
      @media (min-width: 1024px) {
        .swiper-container .swiper-slide .tile-title {
          font-size: 14px; } }
    .swiper-container .swiper-slide img {
      min-width: 100%;
      max-width: 100%;
      height: auto;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .swiper-container .swiper-slide-active {
    width: 300px;
    transform: translateX(-25px);
    margin-right: 10px !important; }
    .swiper-container .swiper-slide-active .slide-title {
      font-size: 20px; }

.swiper-button-next, .swiper-button-prev {
  z-index: 1;
  background-image: url("../images/arrow.svg") !important; }

.swiper-button-prev {
  transform: scaleX(-1); }

.button-gradient {
  background: linear-gradient(to right, #3D3D3D 3%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, #3D3D3D 97%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none; }

.archive-section .header-bar {
  margin-bottom: 30px; }
.archive-section .see-all-bar {
  background: transparent;
  padding: 35px 10px; }
  .archive-section .see-all-bar:hover {
    background: transparent;
    color: #3D3D3D; }
    .archive-section .see-all-bar:hover a {
      color: #3D3D3D; }
  .archive-section .see-all-bar a:hover {
    color: #FFB600; }

.archive.header-bar {
  padding-left: 10px;
  padding-bottom: 0; }

.archive-section .header-bar, .archive.header-bar {
  padding-bottom: 15px;
  border-bottom: 2px solid #767676; }

.archive-roll-container {
  margin: 10px 10px; }

.archive-roll {
  margin: -25px -10px; }

.archive-item {
  padding: 25px 0px;
  position: relative;
  border-bottom: 1px solid #cacaca; }
  @media (min-width: 768px) {
    .archive-item {
      display: flex;
      padding: 25px 10px; } }
  .archive-item h3 {
    margin-bottom: 5px;
    transition: color .2s ease-in-out; }
    .archive-item h3:hover {
      color: #FFB600;
      transition: color .2s ease-in-out; }

@media (min-width: 768px) {
  .archive-container .tile-roll .post-tile-container {
    flex-basis: 50%; }
  .archive-container .tile-roll .post-tile-container:first-of-type {
    flex-basis: 100%; }
    .archive-container .tile-roll .post-tile-container:first-of-type .post-tile {
      height: 400px; } }

.item-thumbnail {
  margin-bottom: 10px; }
  .item-thumbnail img {
    object-fit: cover;
    width: 100%;
    max-height: 200px; }
    @media (min-width: 768px) {
      .item-thumbnail img {
        width: 300px;
        height: 175px;
        max-height: auto; } }
  @media (min-width: 768px) {
    .item-thumbnail {
      margin-right: 20px; } }

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex: 1; }

.item-byline {
  font-size: 15px;
  margin-bottom: 10px;
  display: flex; }
  @media (min-width: 768px) {
    .item-byline {
      font-size: 13px; } }
  .item-byline span {
    display: inline-block;
    margin-right: 25px; }
  .item-byline a {
    transition: all .2s ease-in; }
    .item-byline a:hover {
      color: #3D3D3D;
      transition: all .2s ease-in; }

.item-excerpt {
  font-size: 16px;
  line-height: 1.5;
  color: #767676;
  flex: 1; }
  @media (min-width: 768px) {
    .item-excerpt {
      font-size: 14px;
      line-height: 1.3; } }

.item-readmore {
  justify-self: end;
  align-self: end;
  margin-left: auto;
  margin-top: 10px; }
  .item-readmore a {
    font-size: 14px; }

.pagination {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 40px; }
  .pagination .page-numbers {
    color: #3D3D3D;
    padding: 10px 3px; }
  .pagination .current {
    color: #FFB600; }
  .pagination .next, .pagination .prev {
    color: #FFB600; }

.quiz-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10%; }
  .quiz-container a {
    color: #fff;
    text-decoration: underline;
    margin-top: 20px;
    transition: all .2s ease-in;
    display: block;
    cursor: pointer; }
    .quiz-container a:hover {
      color: #41B9FF;
      transition: all .2s ease-in; }
  .quiz-container h1, .quiz-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
    text-transform: none;
    font-weight: 400; }
    .quiz-container h1 span, .quiz-container h2 span {
      font-weight: bold;
      font-size: 56px;
      display: block; }
  .quiz-container h2 {
    margin-bottom: 50px; }
  .quiz-container .quiz-inner {
    width: 100%; }
@keyframes flicker {
  0% {
    color: #fff; }
  33% {
    color: #FFB600; }
  66% {
    color: #FFB600; }
  100% {
    color: #fff; } }
  .quiz-container .flicker {
    animation: flicker .5s linear; }
  .quiz-container .quiz-progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px; }
    .quiz-container .quiz-progress .quiz-marker {
      border: 2px solid #fff;
      border-radius: 100px;
      height: 15px;
      width: 15px;
      margin: 10px 10px; }
      .quiz-container .quiz-progress .quiz-marker.selected {
        background-color: #fff; }
  .quiz-container .quiz-error {
    margin: 20px 0 0 0; }
  .quiz-container h3 {
    color: #fff;
    margin: 60px 0 40px 0;
    letter-spacing: .5px; }
  .quiz-container .quiz-slide, .quiz-container .quiz-opener, .quiz-container .quiz-results {
    text-align: center;
    margin: 200px 0;
    width: 80%;
    margin: auto; }
    .quiz-container .quiz-slide p, .quiz-container .quiz-opener p, .quiz-container .quiz-results p {
      color: #fff;
      font-weight: 300;
      line-height: 1.2; }
    .quiz-container .quiz-slide button, .quiz-container .quiz-opener button, .quiz-container .quiz-results button {
      background-color: transparent;
      padding: 15px 45px;
      color: #fff;
      border: 2px solid #fff;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      margin: 20px 60px;
      cursor: pointer;
      transition: all .1s ease-in; }
      .quiz-container .quiz-slide button:hover, .quiz-container .quiz-opener button:hover, .quiz-container .quiz-results button:hover {
        background-color: #fff;
        color: #3D3D3D; }
      .quiz-container .quiz-slide button.selected, .quiz-container .quiz-opener button.selected, .quiz-container .quiz-results button.selected {
        background-color: #fff;
        color: #3D3D3D; }
    .quiz-container .quiz-slide button.submit-answer, .quiz-container .quiz-opener button.submit-answer, .quiz-container .quiz-results button.submit-answer {
      color: #fff;
      transition: color .25s;
      background: transparent;
      border: none; }
      .quiz-container .quiz-slide button.submit-answer::after, .quiz-container .quiz-opener button.submit-answer::after, .quiz-container .quiz-results button.submit-answer::after {
        display: inline-block;
        content: '';
        margin-left: 7px;
        background-image: url(../images/arrow.svg);
        background-size: 10px 11px;
        background-repeat: no-repeat;
        height: 10px;
        width: 11px; }
      .quiz-container .quiz-slide button.submit-answer:hover, .quiz-container .quiz-opener button.submit-answer:hover, .quiz-container .quiz-results button.submit-answer:hover {
        color: #41B9FF; }
    .quiz-container .quiz-slide .start-quiz, .quiz-container .quiz-slide .next-question, .quiz-container .quiz-opener .start-quiz, .quiz-container .quiz-opener .next-question, .quiz-container .quiz-results .start-quiz, .quiz-container .quiz-results .next-question {
      display: block;
      margin: 50px auto 0 auto;
      border: 1px solid #41B9FF; }
      .quiz-container .quiz-slide .start-quiz:hover, .quiz-container .quiz-slide .next-question:hover, .quiz-container .quiz-opener .start-quiz:hover, .quiz-container .quiz-opener .next-question:hover, .quiz-container .quiz-results .start-quiz:hover, .quiz-container .quiz-results .next-question:hover {
        background-color: #41B9FF; }
    .quiz-container .quiz-slide .quiz-back h2, .quiz-container .quiz-opener .quiz-back h2, .quiz-container .quiz-results .quiz-back h2 {
      font-size: 56px;
      margin-bottom: 10px;
      font-weight: bold; }
    .quiz-container .quiz-slide .quiz-back .answer-description, .quiz-container .quiz-opener .quiz-back .answer-description, .quiz-container .quiz-results .quiz-back .answer-description {
      font-size: 20px;
      font-weight: 300; }
    .quiz-container .quiz-slide .quiz-graph, .quiz-container .quiz-opener .quiz-graph, .quiz-container .quiz-results .quiz-graph {
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      margin-bottom: 100px; }
    .quiz-container .quiz-slide .quiz-bar, .quiz-container .quiz-opener .quiz-bar, .quiz-container .quiz-results .quiz-bar {
      height: 50px;
      background-color: white;
      width: 0;
      margin: 40px 0;
      transition: width 1s ease-in;
      display: flex;
      align-items: center;
      justify-content: end; }
    .quiz-container .quiz-slide .quiz-front, .quiz-container .quiz-slide .quiz-back, .quiz-container .quiz-opener .quiz-front, .quiz-container .quiz-opener .quiz-back, .quiz-container .quiz-results .quiz-front, .quiz-container .quiz-results .quiz-back {
      margin: 50px 0; }
    .quiz-container .quiz-slide .bar-value, .quiz-container .quiz-opener .bar-value, .quiz-container .quiz-results .bar-value {
      color: #3D3D3D;
      margin-left: auto;
      margin-right: 20px; }
    .quiz-container .quiz-slide .bar-label, .quiz-container .quiz-opener .bar-label, .quiz-container .quiz-results .bar-label {
      color: #fff;
      position: absolute;
      transform: rotate(-90deg);
      margin-left: -50px; }
  .quiz-container .quiz-article .item-byline {
    text-align: center;
    display: inline-block; }
    .quiz-container .quiz-article .item-byline a {
      display: inline; }
  .quiz-container .quiz-article h2, .quiz-container .quiz-article h3, .quiz-container .quiz-article h4 {
    margin-bottom: 20px; }
  .quiz-container .quiz-article .page-content {
    text-align: left; }

.header-image {
  overflow: hidden;
  width: 100%;
  max-height: 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header-image img {
    min-width: 100%;
    max-width: 100%;
    height: auto; }

.single-bg h1 {
  font-size: 26px; }
.single-bg .tile-title {
  padding-left: 0;
  display: block; }
.single-bg .container {
  padding: 0 30px;
  width: 60%;
  margin: auto; }
.single-bg .item-byline {
  font-size: 12px;
  color: #cacaca;
  margin: 10px 0 0 0; }

.author-blurb {
  background: #f1f1f1;
  padding: 40px 0;
  margin-bottom: 100px;
  color: #6b6b6b; }
  .author-blurb .container {
    display: flex; }
    .author-blurb .container .author-info {
      flex: 1; }
  .author-blurb .author-info {
    padding: 0 20px; }
  .author-blurb .author-details {
    font-weight: bold;
    font-size: 24px;
    display: block;
    width: 100%;
    color: #FFB600;
    padding: 0 0 10px 0;
    margin: 0 0 15px 0;
    border-bottom: 2px solid #FFB600; }
  .author-blurb .author-container {
    display: flex;
    justify-content: flex-end; }
  .author-blurb .author-nickname {
    align-self: start;
    margin-right: auto;
    transition: color .2s ease-in; }
    .author-blurb .author-nickname:hover {
      color: #3D3D3D;
      transition: color .2s ease-in; }
  .author-blurb .twitter-icon, .author-blurb .instagram-icon, .author-blurb .email-icon {
    align-self: flex-end;
    margin-left: 15px;
    transition: color .2s ease-in; }
    .author-blurb .twitter-icon:hover, .author-blurb .instagram-icon:hover, .author-blurb .email-icon:hover {
      color: #3D3D3D;
      transition: color .2s ease-in; }
  .author-blurb .author-bio {
    font-style: italic;
    line-height: 1.3;
    font-size: 14px; }

.share-icons {
  margin: 15px 0 100px 0;
  font-size: 28px; }
  .share-icons i {
    margin-right: 10px;
    color: #FFB600;
    transition: color .2s ease-in-out; }
    .share-icons i:hover {
      color: #3D3D3D;
      transition: color .2s ease-in-out; }

.share-article {
  text-align: center; }

.related-posts {
  width: 100%;
  display: flex;
  margin-top: 20px; }
  .related-posts .related-post {
    width: 50%;
    height: 300px; }
  .related-posts .tile-title {
    padding: 20px 0 20px 20px; }

.single-emphasis {
  font-weight: bold;
  font-size: 24px;
  display: block;
  text-align: center; }

.container .content {
  padding-top: 30px;
  padding-bottom: 45px; }
  .container .content p {
    margin-bottom: 18px;
    line-height: 1.5;
    font-weight: 300; }

.navigation-search {
  display: none; }
  @media (min-width: 768px) {
    .navigation-search {
      display: flex;
      align-items: center; } }
  .navigation-search .search-form-label {
    display: none; }
  .navigation-search .search-icon {
    cursor: pointer;
    transition: color .2s ease-in-out;
    margin: 0 10px; }
    .navigation-search .search-icon:hover {
      color: #FFB600; }
  .navigation-search .search-form {
    width: 0;
    height: 17px;
    opacity: 0;
    overflow: hidden;
    display: flex;
    align-items: baseline;
    justify-content: stretch;
    margin-top: -2px;
    margin-bottom: 0; }
  .navigation-search input[type=search] {
    border: 0;
    border-bottom: 1px solid #767676;
    padding-bottom: 2px;
    margin-right: 15px; }
  .navigation-search button[type=submit] {
    border: 0;
    opacity: 0;
    text-transform: lowercase;
    line-height: 1.2;
    padding: 0; }

input[type=search] {
  border: 0;
  border-bottom: 1px solid #767676;
  padding-bottom: 2px;
  margin-right: 15px; }

button[type=submit] {
  border: 0;
  display: none;
  text-transform: lowercase;
  line-height: 1.2;
  padding: 0; }

.search-no-results {
  padding: 100px 40px;
  text-align: center; }
  .search-no-results h1 {
    font-size: 26px;
    margin-bottom: 20px; }

h1.search-title {
  font-size: 26px;
  padding-top: 60px;
  margin-bottom: 20px; }

.page-404 {
  padding: 100px 40px;
  text-align: center; }
  .page-404 h1 {
    font-size: 26px;
    margin-bottom: 20px; }

/*# sourceMappingURL=main.css.map */
